@page "{id}"
@model ChatApp.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<style>
    div.panel-body {
        overflow: scroll;
        background: url('http://subtlepatterns.com/patterns/geometry2.png');
    }
</style>
<h2>ChatBox</h2>
<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        ChatBox using SingalR
        <i class="fa fa-paper-plane fa-fw"></i>
    </div>
    <div class="panel-body" id="chat" style="height:300px;">
        <input type="hidden" id="displayname" />
        <p id="discussion"></p>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input id="message" type="text" name="message" class="form-control"   placeholder="Type your message here..." />
            <span class="input-group-btn">
                <input type="button" class="btn btn-success" id="sendmessage" value="Send">
            </span>
        </div>
    </div>
</div>
