@page
@model IndexModel


@*@if(!Model.Autentificiran)
{
    return RedirectToPage("/Identity/Account/Login");
}*@

@*<h1> @Model.currentUser.FirstName, welcome to ChatApp! </h1>*@

<h1>Welcome!</h1>
<h3> Click on "Let's chat" in navbar to start a conversation.</h3>