@page
@model ChatApp.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<h1> @Model.currentUser.FirstName, welcome to Chat! </h1>
<div>
    <form>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <label> Select a user to chat with: </label>
                <input type="text" id="inputUserData" list="userList" class="form-control">
                <datalist id="userList" class="col-lg-4">
                    @foreach (var user in Model.Users)
                    {
                        if (user.Id != Model.currentUser.Id)
                        {
                            <option value=@user.FullName label=@user.Email id=@user.Id></option>
                        }
                    }
                </datalist>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <button type="submit" class="btn btn-success">Let's chat</button>
            </div>
        </div>
    </form>
</div>

