@page
@model SelectUser
@{
    ViewData["Title"] = "Chat";
}

<h1> @Model.currentUser.FirstName, You can now choose who you want to chat with :D </h1>
<div>
    <form>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <label> Select a user to chat with: </label>
                <input type="text" list="userList" class="form-control">
                <datalist id="userList" class="col-lg-4">
                    @foreach (var user in Model.Users)
                    {
                        if (user.Id != Model.currentUser.Id)
                        {
                            <option value=@user.Email label=@user.FullName id=@user.Id></option>
                        }
                    }
                </datalist>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <button type="submit" onclick="OnClickLetsChat()" class="btn btn-success">@Model.currentUser.FirstName, Let's chat </button>
            </div>
        </div>
    </form>
</div>

<script>
    function OnClickLetsChat() {
        var selectedFullName = document.getElementsByTagName("input")[0].value;
        var selectedId = null;
        var userList = document.getElementById("userList");
        var userExist = false;

        for (var i = 0; i < userList.options.length; i++) {
            if (userList.options[i].value == selectedFullName) {
                userExist = true;
                selectedId = userList.options[i].id;
            } 
        }

        if (!userExist) 
            return;

        window.open("/Chat/" + selectedId);
    }
</script>

