.left {
    background-color: #98fb9861;
    padding-left: 50px;
    padding-top: 10px;
    
}

.right {
    background-color: #afeeee91;
    padding-right: 50px;
    padding-top: 10px;
}

.center {
    background-color: palegoldenrod;
    margin: 0px;
}

#chat {
    padding-top : 0px;
    padding-bottom : 0px;
}


